.admin
  %p#notice= notice
  %span#edit_link= link_to('Edit Page', '/editor' + admin_page_path(@page)) + " |" unless request.path.match(/editor/)
  = link_to('Edit Attached Images', admin_page_attachments_path(@page)) + " |"
  = link_to('Go To Page List', admin_pages_path)

  .page#page_container.mercury_container{data: {'save-url' => mercury_update_admin_page_path(@page)}}
    %h1#page_title.mercury-region{editable}= @page.title
    .body#page_body.mercury-region{editable}!= @page.body
    %hr/
    Description / Abstract (one line)
    .description#page_description.mercury-region{editable}!= @page.description

  = content_for :javascripts do
    = javascript_include_tag 'mercury'
    = javascript_include_tag 'mercury_overrides'
