%h1 Members

= link_to "New Member", new_admin_member_path

- @members.each do |member|
  .member
    %span.admin
      - if member.admin
        %b (admin)
    %span.member_email= member.email
    %span.member_full_name= member.full_name
    %span.member_controls
      = link_to 'Edit', edit_admin_member_path(member)
      = link_to 'Delete', admin_member_path(member), data: {confirm: 'Really?'}, method: 'DELETE'
