.comment[comment]
  .comment_author
    = link_to comment.member.profile do
      = image_tag comment.member.profile_pic
      = comment.member.full_name
  .destroy_comment
    - if can? :destroy, comment
      = link_to 'Remove Comment', article_comment_path(@article, comment), method: :delete, remote: true, confirm: 'Really delete this comment?'
  .comment_body= comment.body
