= form_for [@project, @pledge] do |f|
  -if @pledge.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pledge.errors.count, "error")} prohibited this pledge from being saved:"
      %ul
        - @pledge.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :amount, "Yes!  I can give:"
    = f.text_field :amount
    = f.submit 'Contribute!'
