.new_pledge
  %h1 Ready to fund #{@project.name}?
  %h2 Awesome.  You're a job creator!

  .container.white.rounded.shadow.new
    = form_for [@project, @pledge] do |f|
      -if @pledge.errors.any?
        #error_explanation
          %h2= "#{pluralize(@pledge.errors.count, "error")} prohibited this pledge from being saved:"
          %ul
            - @pledge.errors.full_messages.each do |msg|
              %li= msg
      .field
        = f.label :amount
        = f.text_field :amount
        = f.submit
      .perks
        = render @project.perks
      .field
        = f.label :post_to_fb
        = f.check_box :post_to_fb
      .field
        = f.label :public_viewable
        = f.check_box :public_viewable
      .field
        = f.label :public_amount
        = f.check_box :public_amount

