.container
  .row
    .span1 &nbsp;
    = render partial: 'projects/project', object: @project
    .span5
      %h1 Thanks!

      %h3 For funding #{@project.name}

      .graybox
        %h3 Amount: $#{@pledge.amount}
        %h3 Payment method: #{@pledge.payment_method == 'cc' ? 'Credit Card' : 'Dwolla'}
        %h3 Gift: #{@pledge.perk.name}

      %h1 Share with friends
      %h3 and help #{@project.name} succeed!
      = render partial: 'shared/open_graph/pledge', locals: {project: @project}
