.pledge
  %h2 Pledge Details
  = render @pledge.investor
  %h3 Amount: #{number_to_currency(@pledge.amount)} (#{@pledge.public_amount ? 'Public' : 'Private'})
  = link_to 'Delete', project_pledge_path(@project, @pledge), method: :delete, confirm: 'Are you sure?'
  %h4= link_to 'Back to pledges', project_pledges_path(@project)

