= link_to 'New Article', new_admin_article_path

- @articles.each do |article|
  .article#article_container{'data-save-url' => mercury_update_admin_article_path(article)}
    %h1#article_title.mercury-region{'data-type' => 'editable'}= article.title
    .article_header
      - if article.published?
        = "Published #{article.published_at.strftime("%b %d, %Y")} by #{article.author.full_name}"
      - else
        %b Not Yet Published
        .publish_id= link_to 'Publish It', publish_admin_article_path(article), method: :post, data: {confirm: 'Ready to publish?'}, class: 'btn btn-large'
      = link_to 'Show', admin_article_path(article)
      = link_to 'Edit', '/editor' + admin_article_path(article)
      = link_to 'Destroy', admin_article_path(article), :confirm => 'Are you sure?', :method => :delete
    .body#article_body.mercury-region{'data-type' => 'editable'}!= article.body

%br

