%p#notice= notice

.article#article_container{'data-save-url' => mercury_update_admin_article_path(@article)}
  %h1#article_title.mercury-region{'data-type' => 'editable'}= @article.title
  .article_header= "Published #{@article.published_at.strftime("%b %d, %Y")} by #{@article.author.full_name}"
  .body#article_body.mercury-region{'data-type' => 'editable'}!= @article.body

- if @article.published
  %h3= link_to 'Article is Published.', @article
- else
  %h3 Article has not been published.  You need to publish it before it will appear on the live site.
  = form_for [:admin, @article] do |f|
    = hidden_field_tag "article[published]", true
    = f.submit "Publish Article"
= link_to 'Go To Articles Management', admin_articles_path

= content_for :head do
  = javascript_include_tag 'mercury'
  :javascript
    function onMercuryReady() {
      Mercury.saveUrl = $('#article_container').data('save-url');
      $('form.edit_article').hide()
    }
    top.window.Mercury.on('saved', function(){
      window.parent.parent.window.location = window.parent.parent.window.location.href.replace(/\/editor\//i, '/');
    });
    
    
    // Mercury.on('saved', function(){alert('dope');window.parent.parent.window.location = window.parent.parent.window.location.href.replace(/\/editor\//i, '/');});
    
    $(function() {
      $(top.document).bind('mercury:saved', function(){alert('lame');});
      // alert($(window.parent.parent.window.document).contents().find('#mercury_iframe').attr('id'));
    });
    