%p#notice= notice

.article#article_container{'data-save-url' => mercury_update_admin_article_path(@article)}
  %h1#article_title.mercury-region{'data-type' => 'editable'}= @article.title
  .article_header= "Published #{@article.published_at} by #{@article.author.full_name}"
  .body#article_body.mercury-region{'data-type' => 'editable'}!= @article.body


= content_for :head do
  = javascript_include_tag 'mercury'
  :javascript
    function onMercuryReady() {
      Mercury.saveUrl = $('#article_container').data('save-url');
    }
    top.window.Mercury.on('saved', function(){
      alert('dope');
      window.parent.parent.window.location = window.parent.parent.window.location.href.replace(/\/editor\//i, '/');
    });
    
    
    // Mercury.on('saved', function(){alert('dope');window.parent.parent.window.location = window.parent.parent.window.location.href.replace(/\/editor\//i, '/');});
    
    $(function() {
      $(top.document).bind('mercury:saved', function(){alert('lame');});
      // alert($(window.parent.parent.window.document).contents().find('#mercury_iframe').attr('id'));
    });
    