%p#notice= notice

.article#article_container.mercury_container{data: {'save-url' => mercury_update_admin_article_path(@article)}}
  %h1#article_title.mercury-region{editable}= @article.title
  .article_header= "Published #{published_at(@article)} by #{@article.author.full_name}"
  .body#article_body.mercury-region{editable}!= @article.body

  Description / Abstract (one line)
  .description#article_description.mercury-region{data: {mercury: :markdown}}!= @article.description

- if @article.published
  %h3= link_to 'Article is Published.', @article
- else
  %h3 Article has not been published.  You need to publish it before it will appear on the live site.
  .publish_id= link_to 'Publish It', publish_admin_article_path(@article), method: :post, data: {confirm: 'Ready to publish?'}, class: 'btn btn-large'
= link_to 'Edit Article', '/editor' + admin_article_path(@article), id: 'edit_link'
= link_to 'Go To Articles Management', admin_articles_path
= link_to 'Edit Attached Images', admin_article_attachments_path(@article)

= render partial: 'shared/mercury_includes' if can? :edit, @article
