.article_index
  - if can? :manage, Article
    %h2= link_to 'Manage Blog', admin_articles_path
  - @articles.each do |article|
    .article_listing[article]
      %h1#article_title.mercury-region{'data-type' => 'editable'}= article.title
      .article_header
        = "Published #{article.published_at.strftime("%b %d, %Y")} by #{article.author.full_name}"
      .body#article_body.mercury-region{'data-type' => 'editable'}!= article.body

  %br

