.dialog[@role]
  = form_for @role, as: :role, url: project_role_path(@project, @role), remote: true do |f|
    .field
      = f.label :name, 'Role / Job Title'
      = f.text_field :name
    .field
      = f.label :tagline, 'One-liner about your role'
      = f.text_area :tagline
    = f.submit 'Add', disable_with: 'Saving...'
    = f.submit 'Cancel', id: 'cancel_new_team_member'
