%h2 Hi Tyler,
%p
  #{@role.invited_by.full_name} has indicated to CloudFunded that you are a member of the #{@role.project.name} team, and would like to list you in the role of <i>#{@role.name}</i>.  Please confirm your role by clicking #{link_to 'this link', confirm_project_role_url(@role.project, @role, confirmation_token: @role.confirmation_token)} or by going to the url below.
%p= confirm_project_role_url(@role.project, @role, confirmation_token: @role.confirmation_token)