.pay[@pledge]
  Cool, Pay by CC works for me!
  .payment_errors
    .payment_error{:class => flash[:payment_error] ? 'flash' : 'hidden'}
      %h3 There was a problem processing your payment:
      .message= flash[:payment_error]
  
  = form_for @pledge, url: wizard_path, html: {id: 'stripe_payment_form'} do |f|
    .cc_num
      CC#
      %input{type: :text, id: 'cc_number', size: 20, autocomplete: :off}
    .cvc
      CVC
      %input{type: :text, id: 'cc_cvc', size: 4, autocomplete: :off}
    .exp
      Exp MM/YYYY
      %input{type: :text, id: 'cc_month', size: 2, autocomplete: :off}
      %input{type: :text, id: 'cc_year', size: 4, autocomplete: :off}
    = submit_tag 'Pay', class: 'submit'

= content_for :head do
  = javascript_include_tag 'https://js.stripe.com/v1/'
  :javascript
    var stripePublishableKey = '#{AppConfig.stripe_public_key}';
