.container
  .row
    .span1 &nbsp;
    = render partial: 'projects/project', object: @project
    .span5
      %h1 Congratulations!

      %h3 You've just helped fund #{@project.name}

      .graybox
        %h3 Funding method: #{@pledge.payment_method.titleize}
        %h3 Amount: $#{@pledge.amount}
        %h3 Gift: #{@pledge.perk.name}

      %h1 Share with friends
      %h3 and help #{@project.name} succeed!
