%h1 Listing projects_categories

%table
  %tr
    %th Name
    %th Desription
    %th
    %th
    %th

  - @projects_categories.each do |projects_category|
    %tr
      %td= projects_category.name
      %td= projects_category.desription
      %td= link_to 'Show', projects_category
      %td= link_to 'Edit', edit_projects_category_path(projects_category)
      %td= link_to 'Destroy', projects_category, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Category', new_projects_category_path
