%p#notice= notice

%p
  %b Name:
  = @projects_category.name
%p
  %b Desription:
  = @projects_category.desription

= link_to 'Edit', edit_projects_category_path(@projects_category)
\|
= link_to 'Back', projects_categories_path
