%h1 Read Tha Feedback

%table
  %tr
    %th Subject
    %th Body
    %th Member
    %th About page
    %th
    %th

  - @feedbacks.each do |feedback|
    %tr
      %td= feedback.subject
      %td= feedback.body
      %td
        = link_to profile_path(feedback.member) do
          = image_tag feedback.member.profile_pic
          %h4= feedback.member.full_name
      %td= link_to feedback.about_page, feedback.about_page
      %td= link_to 'Show', admin_feedback_path(feedback)
      %td= link_to 'Destroy', admin_feedback_path(feedback), :confirm => 'Are you sure?', :method => :delete

%br

