.navbar.navbar-fixed-top.header
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .row
        .span3
          %a.brand{href: root_path} &nbsp;
        .span6.offset3
          .container.nav-collapse
            %ul.nav.nav-pills
              -# %li.dropdown.project_categories
              -#   %a.dropdown-toggle{href: '#', data: {toggle: :dropdown}}
              -#     Invest
              -#     %b.caret
              -#   %ul.dropdown-menu
              -#     %li= link_to 'All Companies', projects_path
              -#     - Projects::Category.all.each do |category|
              -#       %li= link_to category.name, projects_category_path(category)
              %li= link_to 'Get Funded', get_funded_path
              %li= link_to 'Feedback', submit_feedback_path(about_page: request.path)
              %li= link_to 'Blog', blog_path
              %li.dropdown
                %a.droptown-toggle{href: '#', data: {toggle: :dropdown}}
                  About Us
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to 'Our Company', '/about'
                  %li= link_to 'How It Works', how_it_works_path
                  %li= link_to 'Apply for Funding?', apply_for_funding_path

              - unless member_signed_in?
                %li= link_to 'Sign In', new_member_session_path
                %li
                  = link_to member_omniauth_authorize_path(:facebook) do
                    = image_tag 'Button_FBConnect5.png', height: '20px'
              - else
                %li= link_to 'My Account', account_path
                - if current_member.admin
                  %li.dropdown
                    %a.droptown-toggle{href: '#', data: {toggle: :dropdown}}
                      %b.caret
                    %ul.dropdown-menu
                      = render partial: 'shared/admin_controls'
                    
              -# %li.dropdown
