- if !!params[:mercury_frame] == true
  = content_for :javascripts do
    = stylesheet_link_tag 'jquery-ui-1.8.22.custom'
    = javascript_include_tag 'jquery-ui-1.8.22.custom.min'
    = javascript_include_tag 'mercury'
    = javascript_include_tag 'mercury_overrides'
