%h1 Listing attachments

%table
  %tr
    %th Title
    %th
    %th
    %th

  - @attachments.each do |attachment|
    %tr
      %td= attachment.title
      %td= link_to 'Show', admin_article_attachment_path(attachment)
      %td= link_to 'Edit', edit_admin_article_attachment_path(@article, attachment)
      %td= link_to 'Destroy', admin_article_attachment_path(attachment), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Attachment', new_admin_article_attachment_path(@article)
