.edit_project
  = form_for @project, html: {multipart: true} do |f|
    -if @project.errors.any?
      #error_explanation
        %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
        %ul
          - @project.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :name, "What's it called?"
      = f.text_field :name
    .field
      = f.label :category_id, "What kind of business / project is it?"
      = f.collection_select :category_id, Projects::Category.all, :id, :name, prompt: true
    .field
      = f.label :short_description do
        Brief description
      = f.text_area :short_description, rows: 4, maxlength: 250
      %span#char_count= 250
      %span Characters Remaining
    .field
      = f.label :financial_goal
      = f.text_field :financial_goal
    .field
      = f.label :image, '300x200 image for your project'
      = f.file_field :image
    .field
      = f.label :completion_date
      = f.date_select :completion_date, start_year: Time.now.year, end_year: Time.now.year + 2, default: (Time.now + 1.year)
    .actions
      .field
        = f.submit 'Next'


