<div class="container edit_project">
  <div class="row span8">
    <%= form_for @project, url: "/projects/#{@project.to_param}", builder: MoneyFormBuilder, html: {id: 'project_form', class: 'form-horizontal'} do |f| -%>
    <%= content_for :subnav do %>
      <%= link_to 'Save Changes', '#', class: 'btn btn-large btn-primary', id: 'submit_project_form' %>
    <% end %>
    
      <div id="accordion">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#main_settings">
            <h1>
              <i class="icon icon-cog"></i>
              Main Settings
            </h1>
          </a>
        </div>
        <div id="main_settings" class="collapse in" data-parent="#accordion">
          <div class="accordion-inner">
            <%= render partial: 'project_main_settings', locals: {f: f}%>
          </div>
        </div>
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#media">
            <h1>
              <i class="icon icon-picture"></i>
              Media
            </h1>
          </a>
        </div>
        <div id="media" class="collapse out" data-parent="#accordion">
          <div class="accordion-inner">
            <div class="control-group">
              <%= render partial: 'project_image_upload'%>
            </div>
          </div>
        </div>
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#location">
            <h1>
              <i class="icon icon-map-marker"></i>
              Location
            </h1>
          </a>
        </div>
        <div id="location" class="collapse out" data-parent="#accordion">
          <div class="accordion-inner">
            <div class="control-group">
              <%= render partial: 'location_form', locals: {f: f}%>
            </div>
          </div>
        </div>
      </div>
      <div class="control-group">
        <%= f.submit 'Save Changes', class: 'btn btn-large'%>
      </div>
    <% end -%>
  </div>
</div>
