= content_for :banner do
  .row.home-banner
    .span6
      %br/
      %br/
      %br/
      %h1 Crowdfunding for
      %br/
      %h1 Main Street
      %h5 Everyone's platform for investing in great ideas

      = link_to get_funded_path do 
        .button1.green Fund Your Project
      .button1.yellow= link_to 'Find Investments', projects_categories_path
    .span6
      %br/
      = link_to jobs_act_path, class: 'tippy', title: 'Click to learn how YOU are about to become an investor' do
        = image_tag 'info.png'
      %br/
      %br/ 
    .row.spacer.filterbar
      .span4
        %h1 Projects In Your Area
    .row
    .row
      .span10.offset1= render @projects
