.project_page
  - if can? :edit, @project
    = link_to edit_project_path(@project), class: 'edit_project_banner' do
      = image_tag 'projects/edit_my_project.png'
  = render partial: 'dashboard'
  .row
    .span8.details.blue1.mercury_container{data: {'save-url' => mercury_update_project_path(@project)}}
      #tab_container.btn-toolbar
        #tabs{data: {base_url: project_path(@project)}}
          .btn-group#tab-titles
            %a.btn.btn-info{active_tab?('info', true)}(href='#info' data-toggle='tab') Info
            %a.btn.btn-info{active_tab?('updates')}(href='#updates' data-toggle='tab') Updates
            %a.btn.btn-info{active_tab?('team')}(href='#team' data-toggle='tab') Team
            %a.btn.btn-info{active_tab?('comments')}(href='#comments' data-toggle='tab') Comments
            %a.btn.btn-info{active_tab?('pledges')}(href='#pledges' data-toggle='tab') Pledges
          .tab-content
            #info.tab-pane{active_tab?('info', true)}
              #information_text{mercury_full}!= @project.information_text
              %br/
              = render partial: 'project_info_field', locals: {field: 'about_your_product', title: 'About Our Company'}
              %br/
              = render partial: 'project_info_field', locals: {field: 'how_it_helps',       title: 'Our Contribution To The Community'}
              %br/
              = render partial: 'project_info_field', locals: {field: 'your_target_market', title: 'Our Target Market'}
              %br/
              = render partial: 'project_info_field', locals: {field: 'history',            title: 'Background'}

            #updates.tab-pane{active_tab?('updates')}
              - if mercury_editor_open?
                = link_to "New Update", project_updates_path(@project), method: :post
              = render partial: 'projects/articles/update', collection: @articles
            #team.tab-pane{active_tab?('team')}
              - if mercury_editor_open?
                = link_to "Add A Team Member", new_project_role_path(@project, format: :js), data: {remote: true}
              = render @roles
            #comments.tab-pane{active_tab?('comments')}
              = render partial: 'disqus'
            #pledges.tab-pane{active_tab?('pledges')}
              - @project.pledges.paid.each do |pledge|
                .pledge
                  = render pledge.investor
    #perks.perks.span4.nomargin.pixel10
      %h3.centered Donation Perks
      = render @project.perks

= render partial: 'shared/mercury_includes' if can? :edit, @project && mercury_editor_open?
= render partial: 'open_graph_data'
