- if @project.owner == current_member
  %h3 This is your project.
  %p= link_to 'Click to make changes', edit_project_path(@project)
  %p= link_to 'Create on Facebook', '#', id: 'create_on_facebook'

.project.rounded.shadow{'data-project-path' => project_path(@project)}
  %h2= @project.name
  = image_tag @project.image.url(:medium), width: '280px'
  .description= @project.description
  .website_link
    = link_to @project.website_url, @project.website_url
  .progress{'data-percent-complete' => @project.percent_complete}
  %h3 #{number_to_currency(@project.amount_pledged)} raised

- unless @project.youtube_url.blank?
  .youtube
    %iframe{width: '560', height: '315', frameborder: '0', allowfullscreen: true, src: @project.youtube_url}

.already_pledged
  %h1 Who's already pledged:
  - @project.pledges.map(&:investor).each do |investor|
    = link_to investor.profile do
      = image_tag investor.profile_pic
    
  - if @project.pledges.empty?
    %h2 No one has pledged yet. Be the first!
  = link_to new_project_pledge_path(@project) do
    %h2 Pledge Your Support!

.clear
.share
  %a{name: 'fb_share'}
.like
  .fb-like{'data-href' => project_url(@project), 'data-send' => true, 'data-width' => '450', 'data-show-faces' => true}
.clear

= link_to 'Tweet', 'https://twitter.com/share', class: 'twitter-share-button', data: {via: 'CloudFunded', related: 'CloudFunded', text: tweet_text(@project), hashtags: 'crowdfunding'}
%script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

= content_for :head do
  %link{rel: 'image_src', href: @project.image.url(:original, false)}
  %meta{property: 'fb:app_id', content: facebook_app_id}
  %meta{property: 'og:type', content: 'cloudfunded:project'}
  %meta{property: 'og:title', content: @project.name}
  %meta{property: 'og:image', content: @project.image.url(:original, false)}
  %meta{property: 'og:description', content: @project.description}
  %meta#project_url{property: 'og:url', content: project_url(@project)}
  %meta{property: 'cloudfunded:financial_goal', content: number_to_currency(@project.financial_goal)}
  %meta{property: 'cloudfunded:amount_raised', content: number_to_currency(@project.amount_pledged)}
  %meta{property: 'cloudfunded:amount_remaining', content: number_to_currency(@project.amount_remaining)}
  
