.project_page
  - if can? :edit, @project
    = link_to edit_project_path(@project), class: 'edit_project_banner' do
      = image_tag 'projects/edit_my_project.png'
  = render partial: 'dashboard'
  .row.lightgray
    .details.span8.mercury_container{data: {'save-url' => mercury_update_project_path(@project)}}
      #tab_container.btn-toolbar
        #tabs{data: {base_url: project_path(@project)}}
          %ul.btn-group
            %li.btn.btn-info{active_tab?('info', true)}= link_to 'Info', '#info', data: {toggle: 'tab'}
            %li.btn.btn-info{active_tab?('updates')}= link_to 'Updates', '#updates', data: {toggle: 'tab'}
            %li.btn.btn-info{active_tab?('team')}= link_to 'Team', '#team', data: {toggle: 'tab'}
            %li.btn.btn-info{active_tab?('comments')}= link_to 'Comments', '#comments', data: {toggle: 'tab'}
            %li.btn.btn-info{active_tab?('pledges')}= link_to 'Pledges', '#pledges', data: {toggle: 'tab'}
          .tab-content
            #info.tab-pane{active_tab?('info', true)}
              .container
                .span6#project_information.mercury-region{data: {mercury: :full}}!= @project.information_text
            #updates.tab-pane{active_tab?('updates')}
              - if !!params[:mercury_frame] == true
                = link_to "New Article", project_updates_path(@project, format: :js), data: {remote: true}, method: :post
              = render partial: 'projects/articles/update', collection: @articles
            #team.tab-pane{active_tab?('team')}
              - if !!params[:mercury_frame] == true
                = link_to "Add A Team Member", new_project_role_path(@project, format: :js), data: {remote: true}
              = render @roles
            #comments.tab-pane{active_tab?('comments')}
              = render partial: 'disqus'
            #pledges.tab-pane{active_tab?('pledges')}
              - @project.pledges.paid.each do |pledge|
                .pledge
                  = render pledge.investor
    #perks.perks.span4
      = render @project.perks

= render partial: 'shared/mercury_includes' if can? :edit, @project && !!params[:mercury_frame] == true
= render partial: 'open_graph_data'
