- if @project.owner == current_member
  %h3 This is your project.
  %p= link_to 'Click to make changes', edit_project_path(@project)

= render @project

- unless @project.youtube_url.blank?
  .youtube
    %iframe{width: '560', height: '315', frameborder: '0', allowfullscreen: true, src: @project.youtube_url}

.already_pledged
  %h1 Who's already pledged:
  - @project.pledges.map(&:investor).each do |investor|
    = link_to investor.profile do
      = image_tag investor.profile_pic
  = link_to 'Show all pledges', project_pledges_path(@project)
  - if @project.pledges.empty?
    %h2 No one has pledged yet. Be the first!
  - if @my_pledge
    %h2 You have already pledged support.
    %h3 Share this project with your friends!
  - else
    = link_to new_project_pledge_path(@project) do
      %h2 Pledge Your Support!

.clear

%span
  .share
    %a{name: 'fb_share'}
  .like
    .fb-like{'data-href' => project_url(@project), 'data-send' => true, 'data-width' => '450', 'data-show-faces' => true}
%span= render partial: 'layouts/plus_one'
%span= render partial: 'layouts/linkedin_share'
%span= render partial: 'layouts/tweet'

= content_for :head do
  %link{rel: 'image_src', href: @project.image.url(:original, false)}
  %meta{property: 'fb:app_id', content: facebook_app_id}
  %meta{property: 'og:type', content: 'cloudfunded:project'}
  %meta{property: 'og:title', content: @project.name}
  %meta{property: 'og:image', content: @project.image.url(:original, false)}
  %meta{property: 'og:description', content: @project.description}
  %meta#project_url{property: 'og:url', content: project_url(@project)}
  %meta{property: 'cloudfunded:financial_goal', content: number_to_currency(@project.financial_goal)}
  %meta{property: 'cloudfunded:amount_raised', content: number_to_currency(@project.amount_pledged)}
  %meta{property: 'cloudfunded:amount_remaining', content: number_to_currency(@project.amount_remaining)}
  
