.container.signin
  - if session[:twitter_login_id]
    %p.alert Successfully logged in via Twitter.  Please log in or sign up to connect your twitter account.
  .row
    .span3.offset3.well
      .row.title
        .span3
          %h2 Sign In
      .row
        .span3
          = form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {:class => 'form-vertical'}) do |f|
            .control-group
              = f.label :email, "Email #{link_to '(Sign Up)', new_member_registration_path}".html_safe, :class => 'control-label'
              .controls= f.email_field :email
            .control-group
              = f.label :password, "Password #{link_to '(I forgot mine)', new_member_password_path}".html_safe,:class => 'control-label'
              .controls= f.password_field :password
            .control_group
              .controls
                =f.submit "Sign in", :class => 'btn-large btn'
                = link_to member_omniauth_authorize_path(:facebook), title: 'Sign In With Facebook', :class => 'tippy' do
                  = image_tag 'icons/dark/24px/24_facebook.png'
                - unless session[:twitter_login_id]
                  = link_to member_omniauth_authorize_path(:twitter), title: 'Sign In With Twitter', :class => 'tippy' do
                    = image_tag 'icons/dark/24px/24_twitter.png'
                  = link_to new_member_confirmation_path, title: 'Re-send Email Confirmation', :class => 'tippy' do
                    %i.icon.icon-envelope
                  = link_to new_member_unlock_path, title: 'My Account Is Locked!', :class => 'tippy' do
                    %i.icon.icon-exclamation-sign
  