.project_application_header
  = link_to 'Info', wizard_path(:information)
  = link_to 'Basics', wizard_path(:basics)
  = link_to 'Location', wizard_path(:where)
  = link_to 'Your Company', wizard_path(:more_about_you)
  = link_to 'Fund Raise', wizard_path(:fund_raise)
  = link_to 'Preview', wizard_path(:preview)
  = link_to 'Apply', wizard_path(:submit)
  