.edit_project.container
  %h1 Add the urls for others pages representing your business.
  = form_for @project, url: wizard_path do |f|
    .field
      = f.label :website_url, "Your Web Site URL"
      = f.text_field :website_url
    .field
      = f.label :youtube_url, 'URL for your YouTube video:'
      = f.text_field :youtube_url
    .field
      = f.label :google_plus
      = f.text_field :google_plus
    .field
      = f.label :google_places
      = f.text_field :google_places
    .field
      = f.label :facebook
      = f.text_field :facebook
    .field
      = f.label :linkedin_profile
      = f.text_field :linkedin_profile
    .field
      = f.label :linkedin_business
      = f.text_field :linkedin_business
    .field
      = f.label :yelp
      = f.text_field :yelp
    .field
      = f.submit 'Done!'
