= render partial: 'application_header'
.project_wizard
  %h1 Company Basics
  .span8
    = form_for @project, builder: MoneyFormBuilder, url: wizard_path do |f|
      .field
        = f.text_field :name, placeholder: "Your Company Name", :class => 'span6'
      .field
        = f.text_field :tagline, placeholder: 'Tagline / Catch Phrase', :class => 'span6'
      = render partial: 'projects/project_image_upload'
      .field
        = f.collection_select :category_id, Projects::Category.all, :id, :name, {prompt: "What kind of company is it?"}, {:class => 'span6'}
      .field
        = f.text_area :information_text, placeholder: 'A brief description of your company', :class => 'span6', rows: 6
      .field.financial_goal
        = f.label :financial_goal
        = f.money_field :financial_goal
      .field
        = f.submit 'Save and Continue'
