= render partial: 'application_header'
.project_wizard.fund_raise
  %h1 Perks go here.
  = form_for @project, url: wizard_path do |f|
    
    .field
      %span= f.label :financial_goal_string, 'Financial Goal'
      %span= f.text_field :financial_goal_string
    .field.date#start_date
      %span= f.label :start_date
      %span= f.text_field :start_date, :value=>f.object.start_date.strftime('%m/%d/%Y')
    .field.date#end_date
      %span= f.label :end_date
      %span= f.text_field :end_date, :value=>f.object.end_date.strftime('%m/%d/%Y')
    .field#days
      %span= f.label :days
      %span= f.text_field :days
    .perks
      - @project.perks.each_with_index do |perk, idx|
        .file_uploads{data: {field: 'perk[image]', action: project_perk_path(@project, perk, format: :json)}}
          = file_field_tag :image, id: "perk_#{perk.id}_image"
        %div.perk[perk]
          %h2 Perk #{idx + 1}
          = f.fields_for :perks, perk do |pf|
            .field.name
              = pf.label :name
              = pf.text_field :name
            .field.price
              = pf.label :price
              = pf.text_field :price
            .field.description
              = pf.label :description
              = pf.text_area :description
            .field.upload_field{id: 'upload_image', data: {field: "perk_#{perk.id}_image"}}
              .upload_status Uploading...
              - if perk.image.present?
                = image_tag perk.image.url(:large), alt: 'Project Image', id: "perk_#{perk.id}_image_tag"
              - else
                = image_tag 'projects/wizard/onebit_33.png', alt: 'Project Image', id: "perk_#{perk.id}_image_tag", class: 'hidden'
              = image_tag 'projects/wizard/perk_image_placeholder.jpg', alt: 'Image Placeholder', id: "perk_#{perk.id}_image_placeholder_tag", class: "click_to_upload#{perk.image.present? ? ' hidden' : ''}"
              = image_tag 'projects/wizard/perk_upload_placeholder.jpg', alt: 'Change Image', id: "change_perk_#{perk.id}_image_tag", class: "click_to_upload#{perk.image.present? ? '' : ' hidden'}"
          
      
    = f.submit 'Preview and Submit'