= render partial: 'application_header'
.project_wizard.fund_raise.container-fluid
  .row
    .span6
      %h1 Great!  A few more details:
  = form_for @project, url: wizard_path, builder: MoneyFormBuilder, html: {:class => 'form'} do |f|
    .row
      .span4.well
        = f.control_group_money_field :financial_goal, :class => 'input-small'
        = f.control_group_number_field :days, :class => 'input-small number'
        = f.control_group_formatted_date_field :start_date, format: '%m/%d/%Y', :class => 'input-small'
        = f.control_group_formatted_date_field :end_date, format: '%m/%d/%Y', :class => 'input-small'
    .perks
      %h2 A well-done campaign depends on great perks
      = render partial: 'perk', collection: @project.perks, locals: {form: f}
    .row
      .span3.offset3
        = f.submit 'Preview and Submit'