= render partial: 'application_header'
.project_wizard.fund_raise.container-fluid
  .row
    .span5
      %h1 Perks go here.
  = form_for @project, url: wizard_path, html: {:class => 'form-horizontal'} do |f|
    .row
      .span4.well
        .control-group
          =f.label :financial_goal, 'Financial Goal', :class => 'control-label'
          .controls= f.text_field :financial_goal, :class => 'input-small money'
        .control-group#days
          = f.label :days, :class => 'control-label'
          .controls= f.number_field :days, :class => 'input-small number'
        .control-group#start_date
          = f.label :start_date, :class => 'control-label'
          .controls.date
            = f.text_field :start_date, :value=>f.object.start_date.strftime('%m/%d/%Y'), :class => 'input-small date'
        .control-group#end_date
          = f.label :end_date, :class => 'control-label'
          .controls.date= f.text_field :end_date, :value=>f.object.end_date.strftime('%m/%d/%Y'), :class => 'input-small date'
    .perks
      - @project.perks.each_with_index do |perk, idx|
        .row[perk]
          .span2.offset1
            .file_uploads{data: {field: 'perk[image]', action: project_perk_path(@project, perk, format: :json)}}
              = file_field_tag :image, id: "perk_#{perk.id}_image"
            %h2 Perk #{idx + 1}
            .field.upload_field{id: 'upload_image', data: {field: "perk_#{perk.id}_image"}}
              .upload_status Uploading...
              - if perk.image.present?
                = image_tag perk.image.url(:large), alt: 'Project Image', id: "perk_#{perk.id}_image_tag"
              - else
                = image_tag 'projects/wizard/onebit_33.png', alt: 'Project Image', id: "perk_#{perk.id}_image_tag", class: 'hidden'
              = image_tag 'projects/wizard/perk_image_placeholder.jpg', alt: 'Image Placeholder', id: "perk_#{perk.id}_image_placeholder_tag", class: "click_to_upload#{perk.image.present? ? ' hidden' : ''}"
              = image_tag 'projects/wizard/perk_upload_placeholder.jpg', alt: 'Change Image', id: "change_perk_#{perk.id}_image_tag", class: "click_to_upload#{perk.image.present? ? '' : ' hidden'}"
          = f.fields_for :perks, perk do |pf|
            .span4
              .control-group
                = pf.label :name, :class => 'control-label'
                = pf.text_field :name, :class => 'input-large'
              .control-group
                = pf.label :price, :class => 'control-label'
                = pf.text_field :price, :class => 'money input-medium'
              .control-group
                = pf.label :description, :class => 'control-label'
                = pf.text_area :description, :class => 'input-medium', rows: 3
    .row
      .span3.offset3
        = f.submit 'Preview and Submit'