.perk[perk]{data: {price: perk.price, name: perk.name}}
  %h3.name= perk.name
  .price= number_to_currency(perk.price)
  .selector= radio_button_tag 'pledge[perk_id]', perk.id, (perk.id == @pledge.perk_id)
  .image= image_tag perk.image.url(:large)
  .description= perk.description
