<h1>Perks</h1>

<%= link_to "Add a perk", project_perks_path(@project), method: :post, class: 'btn btn-large', data: {remote: true}%>
<div class="perks" id="sort_perks" data-save_url="<%= sort_project_perks_path(@project) %>">
  <%= render partial: 'perk_for_editor', collection: @project.perks%>
</div>

<%= content_for :javascripts do %>
  <%= javascript_include_tag 'jquery-ui-1.8.22.custom.min'%>
<% end %>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.22.custom' %>
<% end %>
