!!!
%html{xmlns: 'http://www.w3.org/1999/xhtml', dir: 'ltr', lang: 'en-US', 'xmlns:fb' => 'https://www.facebook.com/2008/fbml'}
  %head{prefix: "og: http://ogp.me/ns# #{AppConfig.opengraph_namespace}: http://ogp.me/ns/apps/#{AppConfig.opengraph_namespace}#"}
    %title= @title || 'CloudFunded: a finance platform for local and sustainable business.'
    %link{ :href => 'http://fonts.googleapis.com/css?family=Merriweather', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    = render partial: 'layouts/open_graph_data'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    = render partial: 'layouts/facebook_sdk' unless Rails.env.test?
    #header
      #headerwrap
        .page_title
          %h1
      %ul
        %li.header_link
          = link_to 'Explore the projects', projects_path
          %ul
            - Projects::Category.all.each do |category|
              %li= link_to category.name, projects_category_path(category)
        %li.header_link= link_to 'Get Funded', get_funded_path
        %li.header_link= link_to 'Blog', blog_path
        %li.header_link= link_to 'About Us', page_path('about')      
        - unless member_signed_in?
          %li.header_link= link_to 'Sign in', new_member_session_path
          %li.header_link
            = link_to member_omniauth_authorize_path(:facebook) do
              = image_tag 'Button_FBConnect.png'
        - else
          = render partial: 'layouts/my_controls'
        
    .container
      - if flash[:notice]
        %p#notice= notice
      - if flash[:error]
        %p.error= flash[:error]
      = yield
    #footer
      #footerwrap
      #this_is_a_test
