!!!
%html{xmlns: 'http://www.w3.org/1999/xhtml', dir: 'ltr', lang: 'en-US', 'xmlns:fb' => 'https://www.facebook.com/2008/fbml'}
  %head{prefix: 'og: http://ogp.me/ns# cloudfunded: http://ogp.me/ns/apps/cloudfunded#'}
    %title= @title || 'CloudFunded: a finance platform for local and sustainable business.'
    = render partial: 'layouts/open_graph_data'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    = render partial: 'layouts/facebook_sdk'
    #header
      #headerwrap
        .page_title
          %h1
      .header_link= link_to 'Explore the projects', projects_path
      .header_link= link_to 'Submit your project', new_project_path
      .header_link= link_to 'Blog', blog_path
      .header_link= link_to 'About Us', page_path('about')
      .header_link= link_to 'Feedback', submit_feedback_path(about_page: request.path)
      
      - unless member_signed_in?
        .header_link= link_to 'Sign in', new_member_session_path
      - else
        = render partial: 'layouts/my_controls'
        
    .container
      - if flash[:notice]
        %p#notice= notice
      - if flash[:error]
        %p.error= flash[:error]
      = yield
    #footer
      #footerwrap
