!!!
%html{xmlns: 'http://www.w3.org/1999/xhtml', dir: 'ltr', lang: 'en-US', 'xmlns:fb' => 'https://www.facebook.com/2008/fbml'}
  %head{prefix: "og: http://ogp.me/ns# #{AppConfig.opengraph_namespace}: http://ogp.me/ns/apps/#{AppConfig.opengraph_namespace}#"}
    %title= @title || 'CloudFunded: a finance platform for local and sustainable business.'
    %link{ :href => 'http://fonts.googleapis.com/css?family=Merriweather', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="images/favicon.ico" rel="shortcut icon")
    = render partial: 'layouts/open_graph_data'
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    = yield :head
  %body
    = render partial: 'layouts/facebook_sdk' unless Rails.env.test?
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          .row
            .span3
              %a.brand{href: root_path} &nbsp;
            .span6.offset3
              .container.nav-collapse
                %ul.nav.nav-pills
                  %li.dropdown.project_categories
                    %a.dropdown-toggle{href: '#', data: {toggle: :dropdown}}
                      Invest
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to 'All Companies', projects_path
                      - Projects::Category.all.each do |category|
                        %li= link_to category.name, projects_category_path(category)
                  %li.header_link= link_to 'Get Funded', get_funded_path
                  %li.header_link= link_to 'Blog', blog_path
                  %li.header_link= link_to 'About Us', page_path('about')    
                  %li.dropdown
                    %a.droptown-toggle{href: '#', data: {toggle: :dropdown}}
                      My Account
                      = image_tag current_member.profile_pic, height: 24
                      %b.caret
                    %ul.dropdown-menu
                      - unless member_signed_in?
                        %li= link_to 'Sign in', new_member_session_path
                        %li
                          = link_to member_omniauth_authorize_path(:facebook) do
                            = image_tag 'Button_FBConnect3.png', :class => 'fb_sign_in'
                      - else
                        %li= link_to 'My Profile', profile_path(current_member)
                        %li= link_to 'My Account', account_path
                        %li= link_to 'My Projects', my_projects_path
                        %li= link_to 'Feedback', submit_feedback_path(about_page: request.path)
                        %li= link_to 'Change Password', account_settings_path
                        %li= link_to 'Sign out', destroy_member_session_path, method: 'delete'
                        - if current_member.admin
                          %li Admin Controls
                          %li= link_to 'Members', admin_members_path
                          %li= link_to 'Pages', admin_pages_path
                          %li= link_to 'Projects', admin_projects_path
                          %li= link_to 'Feedback', admin_feedbacks_path
                          %li= link_to 'Blog Articles', admin_articles_path
                          %li= link_to 'Categories', admin_projects_categories_path

    .container-fluid
      .content
        = bootstrap_flash
        = yield
  
      %footer
        %p &copy; Company 2012
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
