<%= content_for :content do %>
  <div class="row">
    <div class="span1">
      <%= link_to project_path(@project) do %>
        <%= image_tag @project.image.url(:thumb)%>
      <% end %>
    </div>
    <div class="span6 offset0">
      <h1><%= link_to @project.name, project_path(@project) %> / Administration</h1>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <br />
      <br />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span2 nav shadow">
        <ul class="nav nav-pills nav-stacked">
          <li>
            <%= link_to 'Main Settings', edit_project_path(@project) %>
          </li>
          <li>
            <%= link_to 'Edit Campaign Home', '/editor' + project_path(@project) %>
          </li>
          <li>
            <%= link_to 'Edit Updates', '/editor' + project_path(@project) + '/updates' %>
          </li>
          <li>
            <%= link_to 'Publish An Update', project_updates_path(@project), method: :post %>
          </li>
          <li>
            <%= link_to 'Perks', project_perks_path(@project) %>
          </li>
          <li>
            <%= link_to 'Team Members', project_roles_path(@project) %>
          </li>
          <li>
            <%= link_to 'Project Administrators', project_admins_path(@project) %>
          </li>
          <% if @project.live? %>
            <li><%= link_to 'Sharing', sharing_project_path(@project) %></li>
          <% end %>
          <%= yield(:subnav) %>
        </ul>
      </div>
      <div class="span9">
        <%= yield %>
      </div>
    </div>
  </div>
  
<% end %>

<%= render :template => 'layouts/application' %>
