<%= link_to project_path(project) do %>
  <div class="span4 shadow">
    <h2>
      <%= project.name %>
      <%= link_to 'Make Changes', edit_project_path(project) , class: 'btn btn-large' %>
    </h2>
    <%= image_tag project.image.url(:thumb)%>
    <div class="stats">
      Raised <%= project.amount_pledged %> of <%= project.financial_goal %>
    </div>
    <div class="progress-bar">
      <div class="progress progress-success">
        <div class="bar" style="<%= "width: #{project.percent_complete}%;" %>"></div>
      </div>
    </div>
  </div>
<% end %>
<div class="span3">
  <div class="link">
    <%= link_to "Project Pledges", project_pledges_path(project) %>
  </div>
  <div class="link">
    <%= link_to "Perks", project_perks_path(project) %>
  </div>
  <div class="link">
    <%= link_to "Team", project_roles_path(project) %>
  </div>
</div>
<hr />
