.my_acount
  %h1 My Account
  != render :partial => 'dwolla_account'
  
  You have #{number_to_currency(@member.account_balance)} in your account.
  = link_to 'Get Some More.', new_account_fund_path
  
  %h2 My Projects
  %table.my_projects
    - @member.projects.each do |project|
      %tr.my_project
        %td.image
          = link_to project_path(project) do
            = image_tag project.image.url
        %td.details
          %h1= link_to project.name, project
          .status= "Status: #{project.workflow_state.titleize}"
          .links= link_to 'Edit Project', (project.published? ? edit_project_path(project) : project_wizard_path(project)) 
          .links= link_to 'Mega Edit', '/editor/projects' + project_path(project)
  
  %h2 My Teams
  .roles.project_short_list
    .team_membership
      - @member.roles.each do |role|
        = link_to role.project do
          = image_tag role.project.image.url(:thumb)
          %h3 #{role.project.name}: #{role.project.tagline}
        = render role
  
  .transaction_history
    %h2 Transaction History
    %table
      %thead
        %tr
          %th Transaction Date
          %th Amount
          %th Source
          %th Project
          %th Status
      - @member.transactions.each do |transaction|
        %tr
          %td= transaction.created_at.strftime('%Y-%m-%d %H:%m')
          %td.amount{amount_css_class(transaction)}= number_to_currency(transaction.amount.dollars)
          %td= transaction.type
          %td= link_to transaction.pledge.project.name, transaction.pledge.project if transaction.pledge
          %td= transaction.paid ? "Paid" : "Incomplete"
