.my_acount
  %h1 My Account
  != render :partial => 'dwolla_account'
  
  You have #{number_to_currency(@member.account_balance)} in your account.
  = link_to 'Get Some More.', new_account_fund_path
  
  .transaction_history
    %h2 Transaction History
    %table
      %thead
        %tr
          %th Transaction Date
          %th Amount
          %th Source
          %th Project
          %th Status
      - @member.transactions.each do |transaction|
        %tr
          %td= transaction.created_at.strftime('%Y-%m-%d %H:%m')
          %td.amount{amount_css_class(transaction)}= number_to_currency(transaction.amount)
          %td= transaction.source
          %td= link_to transaction.project.name, transaction.project if transaction.project
          %td= transaction.status
          
          
          